
#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.photo {
  height: 900px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-1 {
  background-image: url("./img/photo-1.jpg");
}

.photo-2 {
  background-image: url("./img/photo-2.jpg");
}

.adv-card {
  height: 18rem;
}

@media screen and (max-width: 576px) {
  .photo {
    height:350px;
    background-attachment: scroll;
  }
}

@media screen and (max-width:768px){
  .photo {
    height: 600px;
  }

  .adv-card {
    height: 24rem;
  }
}

