
#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.photo {
  height: 1100px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
} 

.image-1 {
  background-image: url("./img/1.jpg");
}

.image-2 {
  background-image: url("./img/w-t.jpg");
}

@media (max-width: 576px) {
  .photo {
    height:550px;
  }
}


@media (max-width: 768px) {
  .photo {
    height: 600px;
  }
}


